body.withHeader {
    padding-top: 80px;
}
body {
    position: relative;
}
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, a, code, em, img, q, small, strong, dd, dl, dt, li, ol, ul, fieldset, form, label, table, tbody, tr, th, td, input {
    margin: 0;
    padding: 0;
    border: 0;
}
html {
    font-family: "Microsoft Yahei",arial,helvetica,sans-serif;
    -webkit-text-size-adjust: none;
    word-break: break-word;
}
/*header*/
header {
    display: block;
    z-index: 999;
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}
.top_bar .abs_l, .top_bar .abs_m, .top_bar .abs_r {
    position: absolute;
    left: 0;
    top: 0;
    width: 44px;
    height: 44px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}
.top_bar .msg-box {
    /*background: url(http://s0.pstatp.com/resource/toutiao_wap/static/image/message_box_086b2f5.png) no-repeat;*/
    background: url('/perfmjs/example/angular2-youyue/images/toutiao/2x.png') no-repeat;
    background-size: contain;
    width: 40px;
    height: 30px;
    margin-left: 12px;
    margin-top: 6px;
    display: block;
    position: relative;
}
.top_bar .refresh_title {
    /*background: url(http://s0.pstatp.com/resource/toutiao_wap/static/image/toutiao_4370d0f.png) no-repeat right center;*/
    background: url('/perfmjs/example/angular2-youyue/images/toutiao/youyuekongjian.png') no-repeat right center;
    width: 83px;
    background-size: 83px;
    padding-left: 15px;
}
.top_bar .refresh_btn, .top_bar .refresh_title, .top_bar .back, .top_bar .comment_count, .top_bar .user, .top_bar .app, .top_bar .cancel, .top_bar .submit {
    display: inline-block;
    height: 44px;
}
.top_bar .refresh_btn {
    background: url(http://s2.pstatp.com/resource/toutiao_wap/static/image/btn_refresh@2x_aac2c97.png) no-repeat center center;
    width: 25px;
    background-size: 15px;
}

.top_bar {
    height: 44px;
    position: relative;
    background: #d43d3d;
}
.top_bar .abs_m {
    width: 100%;
    text-align: center;
    font-size: 20px;
    color: #fff;
    font-weight: 700;
    line-height: 44px;
}

.top_bar .abs_r {
    left: auto;
    right: 0;
    z-index: 100;
    width: auto;
}
.top_bar .search {
    display: inline-block;
    height: 24px;
    width: 24px;
    padding: 10px;
    background: url(http://s2.pstatp.com/resource/toutiao_wap/static/image/btn_discovery@2x_49a1914.png) no-repeat center;
    background-size: 21px;
}
/*top menu bar*/
.top_menu_list {
    white-space: nowrap;
}
.top_menu_bar {
    background: rgba(255,255,255,.95);
    height: 37px;
    box-sizing: border-box;
}
.top_menu_bar::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background-image: -webkit-linear-gradient(top,transparent,transparent 40%,#ddd 40%);
    background-size: 100% 1px;
    background-position: bottom;
    background-repeat: no-repeat;
}
.top_menu_more {
    float: right;
    position: relative;
}
.top_menu_more .list_shadow {
    position: absolute;
    width: 10px;
    height: 37px;
    left: -10px;
    background: url('/perfmjs/example/angular2-youyue/images/toutiao/list_shadow.png') no-repeat center right;
    /*background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABIAAABXCAQAAACjUt0DAAAAAmJLR…AwtDMDRwAAABl0RVh0U29mdHdhcmUAQWRvYmUgSW1hZ2VSZWFkeXHJZTwAAAAASUVORK5CYII=) no-repeat center right;*/
    background-size: contain;
}
.top_menu_more .more_btn {
    background: url('/perfmjs/example/angular2-youyue/images/toutiao/more_btn.png') no-repeat center center;
    /*background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACgAAAAKCAYAAADGmhxQAAAACXBIW…JEYeuOVFCDou8UEE8A6t1JhF4bIFUCxDZoBfUGUEENEGAACqlzBi4U6TgAAAAASUVORK5CYII=) no-repeat center center;*/
    display: block;
    width: 45px;
    height: 37px;
    background-size: 20px;
}
.top_menu {
    overflow: hidden;
    overflow-x: scroll;
    -webkit-overflow-scrolling: touch;
}
.top_menu::-webkit-scrollbar {
    display: none;
}
div {
    display: block;
}
.top_menu_list .btn.cur {
    color: #d00;
    font-size: 15px;
}
.top_menu_list .btn {
    white-space: nowrap;
    display: inline-block;
    padding: 0 10px;
    color: #333;
    text-decoration: none;
    font-size: 14px;
    line-height: 26px;
    height: 26px;
    margin: 5px 0 5px 5px;
    -webkit-tap-highlight-color: rgba(0,0,0,.3);
}
a:visited {
    color: #999;
}
/*content*/
content {
    display: block;
    position: relative;
}
.list_content {
    background: #eee;
    -webkit-margin-after-collapse: separate;
    -webkit-margin-before-collapse: discard;
    -webkit-user-select: none;
}
.list_content {
    -webkit-user-select: none;
}
.iphone section {
    padding: 0;
}
section {
    position: relative;
    background-color: #fff;
}
.iphone section .article_link, .iphone section .media_link {
}
section .article_link, section .media_link {
    display: block;
    padding: 12px 10px;
    text-decoration: none;
    -webkit-tap-highlight-color: rgba(0,0,0,.1);
    -webkit-touch-callout: none;
}
section a:visited h3, section a.visited h3, section a:visited p, section a.visited p {
    color: #aaa;
}
.iphone section h3, .iphone section p {
    font-weight: 700;
}
@media screen and (min-width: 400px) {
    section h3, section p {
        font-size: 21px;
    }
}
@media screen and (min-width: 360px) {
    section h3, section p {
        font-size: 19px;
    }
}
h3 {
    display: block;
    font-size: 1.17em;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    font-weight: bold;
}


.line3 {
    -webkit-line-clamp: 3;
}
.line1, .line2, .line3, .line4 {
    text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
}

section h3, section p {
    color: #464646;
    font-size: 17px;
    font-weight: 400;
    margin: 0;
    padding: 0;
    line-height: 1.2em;
    text-align: justify;
}
section .list_image, section .list_img_holder_large {
    margin-top: 5px;
}
.list_img_holder_large_fix {
    padding-bottom: 40%;
    height: 0;
}
.list_img_holder_large {
    background: url('/perfmjs/example/angular2-youyue/images/toutiao/bg_toutiao.png') #efefef no-repeat center center;
    /*background: url(data:image/gif;base64,R0lGODlh7AA5AIAAAOHh4f///yH5BAEAAAEALAAAAADsADkAAAL/j…KeOsLC45S5cWljXJBWuGaWugxmqZdsEuqGipxJ6qmZM/5paqCdohFbrMAgGWuttt6Ka2wFAAA7) #efefef no-repeat center center;*/
    background-size: 108px;
    overflow: hidden;
    width: 100%;
    position: relative;
}
.list_img_holder_large_fix img {
    position: absolute;
}
.list_img_holder_large img {
    border: 0;
    display: block;
    width: 100%;
    pointer-events: none;
}
.item_info {
    font-size: 11px;
    line-height: 11px;
    height: 11px;
    margin-top: 10px;
    color: #999;
    position: relative;
}
.item_info .space {
    margin-right: 5px;
}
.subject_label, .hot_label {
    background: #f05b5b;
    vertical-align: middle;
}
.subject_label, .hot_label, .recommend_label, .fav_label, .ad_label, .video_label {
    color: #fff;
    background: #aaa;
    font-size: 10px;
    padding: 2px;
    display: inline-block;
    margin-top: -2px;
}
.item_info .cmt {
    background: url('/perfmjs/example/angular2-youyue/images/toutiao/cmt.png') no-repeat left center;
    /*background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAGXRFW…+pZgEWi6SAWBWbBQwgCyjFM2fOdADiA9jkGGndbAEIMABUsMVtdZLV6wAAAABJRU5ErkJggg==) no-repeat left center;*/
    background-size: 12px;
    padding-left: 16px;
}
.fr {
    float: right;
}
section .list_image, section .list_img_holder_large {
    margin-top: 5px;
}
.list_image ul {
    display: block;
    margin: 0;
    padding: 0;
    list-style-type: none;
}
.list_image ul li {
    display: inline-block;
    float: left;
    overflow: hidden;
    width: 33.3%;
}
.list_image ul li:first-child .list_img_holder {
    float: left;
}
.list_image ul li .list_img_holder {
    margin: 0 auto;
}
.list_img_holder {
    width: 95%;
    padding-bottom: 66%;
    position: relative;
}
.list_img_holder {
    background: url('/perfmjs/example/angular2-youyue/images/toutiao/bg_toutiao.png') #efefef no-repeat center center;
    /*background: url(data:image/gif;base64,R0lGODlh7AA5AIAAAOHh4f///yH5BAEAAAEALAAAAADsADkAAAL/j…KeOsLC45S5cWljXJBWuGaWugxmqZdsEuqGipxJ6qmZM/5paqCdohFbrMAgGWuttt6Ka2wFAAA7) #efefef no-repeat center center;*/
    background-size: 54px;
}
.list_img_holder img {
    border: 0;
    display: block;
    position: absolute;
    width: 100%;
    -webkit-transition: opacity 300ms ease;
    -moz-transition: opacity ease .3s;
    pointer-events: none;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-user-select: none;
    text-decoration: none;
}
#app, form, .btn, .control, .top_bar .btn, .list_action, .list_content .swipe_bg, .list_img_holder img, .top_menu_list, .top_menu, .closeBtn, .top_menu_more .more_btn {
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-user-select: none;
    text-decoration: none;
}
@media screen and (min-width: 400px){
    section.middle_mode .list_img_holder {
        margin-top: 0;
    }
}
@media screen and (min-width: 360px) {
    section.middle_mode .list_img_holder {
        width: 26%;
        padding-bottom: 18%;
    }
}
section.middle_mode .list_img_holder {
    float: right;
    overflow: hidden;
    width: 30%;
    padding-bottom: 20%;
    margin-left: 10px;
    margin-top: 2px;
}
section.middle_mode .item_info .canhide {
    display: none;
}
section .line {
    margin: 0 10px;
    padding: 0;
    overflow: hidden;
    background-image: -webkit-linear-gradient(top,#ddd,#ddd 60%,transparent 60%);
    background-size: 100% 1px;
    background-position: bottom;
    background-repeat: no-repeat;
    height: 1px;
}
@media screen and (min-width: 400px) {
    .video_btn {
        background-size: 40px 40px;
    }
}
@media screen and (min-width: 360px) {
    .video_btn {
        background-size: 34px 34px;
    }
}
.video_btn {
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    background: url(http://s2.pstatp.com/image/toutiao_mobile/video_day.png) no-repeat center center;
    background-size: 27px 27px;
}
/*clearfix*/
.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}
/*detail*/
#pageletArticleContent.box {
    position: relative;
    padding: 30px 0px;
    overflow: hidden;
}
#pageletArticleContent.box .article-detail {
    position: relative;
}
@media only screen and (min-width: 828px) {
    #pageletArticleContent.box .article-detail .title {
        font-size: 1.44rem !important;
        padding: 1.75rem 0 0;
    }
}
#pageletArticleContent.box .article-detail .title {
    font-size: 1.25rem!important;
    padding: 1rem 0 0;
    font-weight: bolder;
    color: #3A3A3A;
}
#pageletArticleContent.box .article-detail .pgc-bar-top {
    margin: .725rem 0 0;
}
#pageletArticleContent.box .article-detail .pgc-bar-top a.avatar-link {
    display: block;
    float: left;
}
a.avatar-link.vwo-media-profile {
    margin: 0;
    padding: 0;
    border: 0;
}
a {
    text-decoration: none;
    color: #131313;
}
@media only screen and (min-width: 640px) {
    html, body {
        font-size: 32px;
    }
}
#pageletArticleContent.box .article-detail .pgc-bar-top .avatar {
    height: 2rem;
    width: 2rem;
    border: 0;
    border-radius: 2rem;
}
#pageletArticleContent.box .article-detail .pgc-bar-top .subtitle {
    padding-left: .5rem;
    padding-top: .03rem;
    float: left;
}
#pageletArticleContent.box .article-detail .pgc-bar-top .name {
    line-height: 1rem;
    font-size: .75rem;
}
p {
    color: #333;
    line-height: 1.125rem;
    border: 0;
    outline: 0;
}
#pageletArticleContent.box .article-detail .pgc-bar-top .name a {
    color: #406599;
}
#pageletArticleContent.box .article-detail .pgc-bar-top .subtitle a {
    color: #333;
}
#pageletArticleContent.box .article-detail .pgc-bar-top .name img {
    padding-left: .31rem;
    height: 1rem;
    margin-bottom: -.2rem;
}
#pageletArticleContent.box .article-detail .pgc-bar-top .time {
    font-size: .675rem;
}
#pageletArticleContent.box .article-detail .pgc-bar-top .time span a {
    color: #999;
}
#pageletArticleContent.box .article-detail .article-content {
    margin-bottom: 1.45rem;
    position: relative;
    overflow: hidden;
    clear: both;
}
@media only screen and (min-width: 828px) {
    #pageletArticleContent.box .article-detail .article-content p, #pageletArticleContent.box .article-detail .article-content div {
        font-size: 1.19rem;
        line-height: 1.875rem;
    }
}
@media only screen and (min-width: 828px) {
    #pageletArticleContent.box .article-detail .article-content p {
        margin-top: 1.75rem;
    }
}
#pageletArticleContent.box .article-detail .article-content p, #pageletArticleContent.box .article-detail .article-content div {
    word-wrap: break-word;
    font-size: 1.0625rem;
    line-height: 1.75rem;
    color: #333;
}
#pageletArticleContent.box .article-detail .article-content p {
    margin-top: 1.5rem;
}

#pageletArticleContent.box .article-detail .article-content img {
    max-width: 100%;
    display: block;
    margin: -.25rem auto -.25rem;
}
@media only screen and (min-width: 828px) {
    #pageletArticleContent.box .article-detail .article-content img.mt12 {
        margin: -1rem auto -.25rem;
    }
}
#pageletArticleContent.box .article-detail .banner-bg {
    background: url("/perfmjs/example/angular2-youyue/images/toutiao/shadown_86fe40a.png");
    height: 1.375rem;
    background-size: cover;
    margin: -2.81rem 0 .94rem -1.062rem;
    width: 112%;
    position: relative;
}
#pageletArticleContent.box .article-detail .unfold-field {
    border-left: 0;
    border-right: 0;
    border-bottom: 0;
    text-align: center;
    margin-bottom: 0;
    display: none;
    position: relative;
    margin-top: -1.2rem;
    color: #54a0dc;
}
#pageletArticleContent.box .article-detail .unfold-field .text-link {
    cursor: pointer;
    display: inline-block;
    line-height: 1.375rem;
    border-radius: 1.81rem;
    font-size: .875rem;
}
#pageletArticleContent.box .text-link {
    color: #5784df;
    display: inline;
}
#pageletArticleContent.box .article-detail .unfold-field .text-link p {
    display: block;
    line-height: .2rem;
    width: 4.44rem;
    font-style: normal;
    text-align: center;
    color: #406599;
}
#pageletArticleContent.box .article-detail .unfold-field .text-link p span {
    background: url("/perfmjs/example/angular2-youyue/images/toutiao/unfold_d42906b.png") no-repeat;
    background-size: contain;
    float: right;
    width: .5625rem;
    height: .375rem;
}
/*点赞*/
#pagelet-like {
    margin-top: 50px;
}
#pagelet-like .ctn {
    margin: 0 auto;
    width: 260px;
}
#pagelet-like .digg {
    background: url("/perfmjs/example/angular2-youyue/images/toutiao/like.png") no-repeat;
}
#pagelet-like a {
    float: left;
    height: 80px;
    width: 80px;
    margin: 0 23px;
}
#pagelet-like .bury {
    background: url("/perfmjs/example/angular2-youyue/images/toutiao/dislike.png") no-repeat;
}
#pagelet-like span.count {
    float: left;
    width: 50%;
    text-align: center;
    line-height: 24px;
    color: #5d5d5d;
    font-size: 14px;
}
/*评论*/
#pageletCommentsShare.comments {
    margin-top: .3125rem;
}
#pageletCommentsShare .box-content {
    padding: .3125rem 0 0;
    background-color: #f4f5f6;
}
#pageletCommentsShare .comment-share-container {
    background: #f4f5f6;
    padding: 1rem .9375rem;
    position: relative;
    margin-top: 0;
}
#pageletCommentsShare .comment-share-container:after, #pageletCommentsShare .comment-share-container:before {
    content: '';
    position: absolute;
    left: 50%;
    margin-left: -.25rem;
    width: 0;
    height: 0;
    z-index: 101;
    bottom: -.5rem;
}
@media only screen and (min-width: 828px)｛
    #pageletCommentsShare .comment-share-container h2 {
        font-size: 1.0625rem;
    }
}
#pageletCommentsShare .comment-share-container h2 {
    font-size: 1rem;
    display: inline-block;
    color: #505050;
    padding-bottom: .5rem;
    font-weight: 400;
}
#pageletCommentsShare .comment-share-container .comment-content {
    padding: 1rem 0;
}
#pageletCommentsShare .comment-content {
    position: relative;
    word-wrap: break-word;
    border-top: 1px solid rgba(221,221,221,.6);
}
#pageletCommentsShare .comment-content .avatar {
    border: 0;
    position: absolute;
    left: 0;
    border-radius: 64px;
    overflow: hidden;
}
.btn {
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-user-select: none;
}
a {
    text-decoration: none;
    color: #131313;
}
#pageletCommentsShare .comment-content .avatar img {
    width: 2rem;
    height: 2rem;
    display: block;
    background: url("/perfmjs/example/angular2-youyue/images/toutiao/2x.png") #fff no-repeat center center;
    background-size: 100% 100%;
    overflow: hidden;
    border: 0;
}
#pageletCommentsShare .comment-content .time, #pageletCommentsShare .comment-content .name, #pageletCommentsShare .comment-content .content a {
    padding-left: 2.625rem;
}
@media only screen and (min-width: 828px) {
    #pageletCommentsShare .comment-content .name a {
        font-size: .9375rem;
    }
}
#pageletCommentsShare .comment-content .name a {
    color: #999;
    font-size: .875rem;
    display: inline-block;
    max-width: 170px;
}
#pageletCommentsShare .comment-content .content {
    padding-top: .3125rem;
}
@media only screen and (min-width: 828px) {
    #pageletCommentsShare .comment-content .content a {
        font-size: 1.0625rem;
    }
}
#pageletCommentsShare .no-action .comment-content .action_pane {
    right: 0;
}
#pageletCommentsShare .comment-content .action_pane {
    position: absolute;
    right: .3125rem;
    text-align: left;
    top: .5rem;
}
#pageletCommentsShare .comment-content .digg {
    color: #999;
    background: url("/perfmjs/example/angular2-youyue/images/toutiao/digg.png") no-repeat 0 0;
    background-size: 1rem;
    background-position: 0 .375rem;
}
@media only screen and (min-width: 720px) {
    #pageletCommentsShare .comment-content .digg, #pageletCommentsShare .comment-content .digged {
        font-size: .75rem;
    }
}
#pageletCommentsShare .comment-content .digg, #pageletCommentsShare .comment-content .digged {
    display: inline-block;
    padding-left: 1.325rem;
    font-size: .6875rem;
    line-height: 2rem;
    min-width: 1.5rem;
    -webkit-transition: background-position 400ms ease;
    -moz-transition: background-position 400ms ease;
}
#pageletCommentsShare .no-action .comment-content .list_action {
    display: none;
}
#pageletCommentsShare .comment-content .list_action {
    display: inline-block;
    border-left: 1px solid #ddd;
    height: .9375rem;
    width: 2.1875rem;
    background-position: right center;
}
/**写评论**/
#pagelet-comment {
    margin-top: 20px;
}
#pagelet-comment .top {
    margin-bottom: 18px;
}
#pagelet-comment .top h2 {
    font-size: 22px;
    font-weight: 700;
    color: #4f5157;
    float: left;
}
#pagelet-comment .top .cc {
    float: right;
    color: #9e9e9e;
    font-size: 16px;
    line-height: 24px;
}
#pagelet-comment .middle .profile {
    float: left;
    width: 54px;
}
#pagelet-comment .middle .profile img {
    border-radius: 25px;
    width: 45px;
    height: 45px;
}
#pagelet-comment .middle .input {
    height: 200px;
    border: 1px solid #efefef;
    margin-left: 54px;
    border-radius: 6px;
    background: #fff;
    overflow: hidden;
    height: 210px;
}
#pagelet-comment .middle .input textarea:focus, #pagelet-comment .middle .input textarea:active {
    outline: 0;
}
#pagelet-comment .middle .input textarea {
    width: 100%;
    height: 145px;
    border: 0;
    overflow: hidden;
    resize: none;
    padding: 5px;
    font-size: 14px;
    font-family: Arial;
}
#pagelet-comment .middle .bottom {
    height: 50px;
    border-top: 1px solid #efefef;
    background: #fafafa;
}
#pagelet-comment .sns-label {
    float: left;
    line-height: 50px;
    margin-left: 10px;
    color: #9e9e9e;
}
#pagelet-comment .sns-group {
    float: left;
}
#pagelet-comment .sns-group .sns.weibo, #pagelet-comment .sns-group .sns.ttweibo, #pagelet-comment .sns-group .sns.qqzone, #pagelet-comment .sns-group .qqzone.checked, #pagelet-comment .sns-group .sns.renren, #pagelet-comment .sns-group .renren.checked, #pagelet-comment .sns-group .weibo.checked, #pagelet-comment .sns-group .ttweibo.checked, #pagelet-detailbar .fav .icon-fav, #pagelet-detailbar .fav:hover .icon-fav, #pagelet-detailbar .fav.repin .icon-fav, #pagelet-detailbar .report .icon-report, #pagelet-detailbar .report:hover .icon-report, #pagelet-detailbar .share .icon-share, #pagelet-detailbar .share .share-list, #pagelet-detailbar .share:hover .icon-share {
    background-image: url("/perfmjs/example/angular2-youyue/images/toutiao/share_sns.png");
}
#pagelet-comment .sns-group .sns.weibo {
    background-position: -98px 0px;
}
#pagelet-comment .sns-group .sns.weibo {
    background-repeat: no-repeat;
}
#pagelet-comment .sns-group .sns.ttweibo {
    background-position: -98px -58px;
}
#pagelet-comment .sns-group .sns.ttweibo {
    background-repeat: no-repeat;
}
#pagelet-comment .sns-group .sns {
    float: left;
    width: 28px;
    height: 28px;
    margin-top: 11px;
    margin-left: 5px;
    cursor: pointer;
}
#pagelet-comment .middle .publish-btn {
    float: right;
    width: 90px;
    height: 35px;
    text-align: center;
    line-height: 35px;
    background: #8db1d2;
    font-size: 16px;
    border-radius: 5px;
    color: #fff;
    margin-top: 7px;
    margin-right: 7px;
}
#pagelet-comment a {
    color: #7696b3;
    font-size: 14px;
    cursor: pointer;
}