<div class="container-right">
    <div id="pagelet-appintro">
        <div class="img-box">
            <a target="_blank" href="http://app.toutiao.com/news_article/">
                <img src="http://s2.pstatp.com/resource/toutiao_web/static/style/image/download_banner_332f7b3.png" usemap="#__appintromap" alt="今日头条App下载">
            </a>
        </div>
    </div>

    <div id="rightad" style="width:250px; margin-bottom:40px">
        <a href="http://www.saikr.com/company/index" target="_blank">
            <img src="http://p1.pstatp.com/large/5510/4963436657" style="width:100%; border:none">
        </a>
    </div>
    <div id="pagelet-rightbanner">
        <a class="img-box" target="_blank" data-node="link">
            <img data-node="img">
        </a>
    </div>
    <div id="pagelet-hotcomment">
        <div class="inner clearfix" data-node="inner" style="position: fixed; top: 75px; display: block; left: 825.5px;">
            <h2 class="title">热门评论</h2>
            <a ga_event="hotcomment_change" target="_blank" href="javascript:;" data-node="next" class="top-btn">下一页</a>
            <ul class="comment-list" data-node="cList" style="display: block;">
                <li>
                    <p class="comment-title">
                        <a ga_event="hotcomment_headimg" href="/user/3722317506/subscribe/">
                            <img src="http://wx.qlogo.cn/mmopen/NKkTUbVKQ0vpib52elyzpeESud7g6BXg7RoiaZ7vy9YjicV3mgMG6eznMoDJvXEht8P0ibl0q3zP0BGiblScluicWxn3eCG6iclwYtq/46">
                        </a>
                        <a ga_event="hotcomment_name" class="name" href="/user/3722317506/subscribe/">
                            开心24477313
                        </a>
                        <a ga_event="hotcomment_dig" class="btn" href="javascript:;" data-node="digg" data-id="4652059843">
                            <i class="icon icon-like-blue icon-small"></i>
                            <span class="liked-num" data-node="likedNum">13644</span>
                        </a>
                    </p>
                    <p class="comment">
                        <i class="arrow"></i>
                        这种人会有报应的！
                    </p>
                    <p class="label">评论于：</p>
                    <p class="source">
                        <a ga_event="hotcomment_title" href="/group/article/4652059843" target="_blank">
                            内地今年已查证42万吨“僵尸肉” 部分系二战储备品
                        </a>
                    </p>
                </li>

                <li>
                    <p class="comment-title">
                        <a ga_event="hotcomment_headimg" href="/user/3355368284/subscribe/">
                            <img src="http://p2.pstatp.com/thumb/5149/1629221192">
                        </a>
                        <a ga_event="hotcomment_name" class="name" href="/user/3355368284/subscribe/">
                            百香果零售批发
                        </a>
                        <a ga_event="hotcomment_dig" class="btn" href="javascript:;" data-node="digg" data-id="4654640324">
                            <i class="icon icon-like-blue icon-small"></i>
                            <span class="liked-num" data-node="likedNum">14523</span>
                        </a>
                    </p>
                    <p class="comment">
                        <i class="arrow"></i>
                        爱狗人，如果能把50万拿去救灾救民  那我是感动万分的。估计他们只是为了出名  或者骗取其他爱狗人的支助罢了    狗一年的繁殖一千就会变一万。你们就多高调点吧，这样就能多骗些钱。
                    </p>
                    <p class="label">评论于：</p>
                    <p class="source">
                        <a ga_event="hotcomment_title" href="/group/article/4654640324" target="_blank">
                            爱狗人士玉林50万元买千条狗
                        </a>
                    </p>
                </li>
            </ul>
        </div>
    </div>
    <div id="pagelet-feedback" style="display: block;">
        <ul>
            <li>
                <a ga_event="gotop" class="btn" href="javascript:;" data-node="back">
                    <i class="icon icon-back"></i>
                </a>
            </li>
            <li>
                <a ga_event="feedback" class="btn" href="javascript:;" data-node="feedback">
                    <i class="icon icon-comment"></i>
                </a>
            </li>
        </ul>
    </div>
</div>