<div class="company">
    <p>
        <span>© 2015 今日头条 toutiao.com</span>
        <a href="http://www.miibeian.gov.cn/" target="_blank">京ICP证140141号</a>
        <a href="http://www.miibeian.gov.cn/" target="_blank">京ICP备12025439号-3</a>
        <a href="http://www.bjgaj.gov.cn/web/" target="_blank">京公网安备11010802012471号</a></p>
    <p>
        <a href="/license/" class="icp" target="_blank">网络文化经营许可证</a>
        <a href="/a3642705768/" target="_blank">跟帖评论自律管理承诺书 </a>
        违法和不良信息举报电话：010-58733394
        公司名称：北京字节跳动科技有限公司/北京字节跳动网络技术有限公司
    </p>
</div>