<link type="text/css" rel="stylesheet" href="http://s0.pstatp.com/resource/toutiao_web/static/style/base_a28dba0.css">
<link rel="stylesheet" type="text/css" href="http://s2.pstatp.com/resource/toutiao_web/static/pkg/core_37056e0.css">
<link rel="stylesheet" type="text/css" href="http://s0.pstatp.com/resource/toutiao_web/static/pkg/home_085101e.css">
<link rel="stylesheet" type="text/css" href="http://s0.pstatp.com/resource/toutiao_web/pagelet/rightbanner/rightbanner_0a9d95a.css">
<link rel="stylesheet" type="text/css" href="http://s2.pstatp.com/resource/toutiao_web/pagelet/gameentry/gameentry_21002a2.css">
<div id="wrapper">
    <biz-header></biz-header>
    <div id="container" class="bg-white clearfix">
        <div class="container-main">
            <div id="pagelet-feedlist">
                <p class="alert-msg" data-node="alertMsg">
                    <img src="http://s0.pstatp.com/resource/toutiao_web/static/style/image/loading_50c5e3e.gif">
                    <span>推荐数据加载中...</span>
                </p>
                <div class="unread" data-node="unread" style="display: block;">
                    <div class="inner">
                        <span>您有未读新闻，点击查看</span>
                    </div>
                </div>
                <ul data-node="listBox">
                    <li class="item clearfix" data-node="item">


                        <div class="info" style="width: 100%;" ga_event="feed_item">

                            <p class="title img-list">
                                <a href="/group/4644295830/" ga_event="feed_title" target="_blank">
                                    内涵神评论：老师让我和女神一起去睡觉
                                </a>
                            </p>
                        </div>

                        <div class="thumbnail-list">

                            <a class="feed-img" ga_event="feed_img" href="/group/4644295830/" target="_blank"><img src="http://p2.pstatp.com/list/5680/4133272107"></a>
                            <a class="feed-img" ga_event="feed_img" href="/group/4644295830/" target="_blank"><img src="http://p2.pstatp.com/list/5678/8415526785"></a>
                            <a class="feed-img" ga_event="feed_img" href="/group/4644295830/" target="_blank" style="margin-right: 0;"><img src="http://p2.pstatp.com/list/5685/1712252577"></a>
                        </div>

                        <p class="footer" style="width: 100%;">
        <span class="other">

            <span data-node="likeGroup" class="btn-group">

                <a ga_event="feed_item_digg" data-node="digg" data-groupid="4644295830" class="btn line" href="javascript:;" title="顶">
                    <i class="icon icon-like icon-small"></i>
                    <span class="liked-num" data-node="num">2230</span>
                </a><a ga_event="feed_item_bury" data-node="bury" data-groupid="4644295830" class="btn" href="javascript:;" title="踩">
                <i class="icon icon-dislike icon-small"></i>
                <span class="disliked-num" data-node="num">159</span>
            </a>
            </span>
            <!--span class="btn-group">
                <a ga_event="feed_item_repin" title="收藏" data-groupid="4644295830" data-node="repin" class="btn
            " href="javascript:;">
                    <i class="icon icon-cllection icon-small"></i>
                    <span class="cllectioned-num" data-node="num">5116</span>
                </a>
            </span-->
        </span>
        <span class="footer-right">
            <a class="btn" href="http://toutiao.com/m2773452475/" target="_blank">
                <span>内涵段子</span>
            </a>

            <a class="btn datetime" href="/group/4644295830/" target="_blank">
                <span data-publishtime="1436082354">15:45</span>
            </a>

            <a data-node="share" data-url="http://toutiao.com/group/article/4644295830/?iid=4212852516&amp;app=news_article" data-desc="来自头条 http://www.toutiao.com" data-text="【内涵神评论：老师让我和女神一起去睡觉】（分享来自 @今日头条）NO.1NO.2NO.3NO.4NO.5NO.6NO.7NO.8NO.9NO.10NO.11NO.12NO.13NO.14NO...." data-pic="" class="btn share" href="javascript:;">
                <i class="icon icon-share"></i>
                <span class="share-list">
                    <i ga_event="feed_item_share" ga_label="tsina" data-type="tsina" class="icon icon-tsina" href="javascript:;" title="分享到新浪微博"></i>
                    <i ga_event="feed_item_share" ga_label="tqq" data-type="tqq" class="icon icon-tqq" href="javascript:;" title="分享到腾讯微博"></i>
                    <i ga_event="feed_item_share" ga_label="qzone" data-type="qzone" class="icon icon-qzone" href="javascript:;" title="分享到ＱＱ空间"></i>
                </span>
            </a>
        </span>
                        </p>
                        <a ga_event="feed_item_dislike" class="btn close" title="不感兴趣" href="javascript:;" data-node="close" data-groupid="4644295830">
                            <i class="icon icon-close icon-small"></i>
                        </a>
                    </li>
                </ul>
                <li class="ad-item clearfix" data-node="adItem">
                    <a target="_blank" data-node="adLink">
                        <img class="ad-img" data-node="adImg">
                    </a>
                    <span class="ad-close" data-node="adClose"></span>
                </li>
                <p class="loadmore" data-node="loadMore">正在为您加载更多...</p>
            </div>

        </div>
        <biz-right></biz-right>
    </div>
    <biz-footer></biz-footer>
</div>