<link href="/perfmjs/example/angular2-try/css/ssq/media10px.css" type="text/css" rel="stylesheet" />
<link href="/perfmjs/example/angular2-try/css/ssq/rem-base.css" type="text/css" rel="stylesheet" />
<link href="/perfmjs/example/angular2-try/css/ssq/toutiao-index.css" type="text/css" rel="stylesheet" />
<div [ng-switch]="page">
<template [ng-switch-when]="'bet'">
	<ul class="k-tabs-hd aequilatus">
		<li class="active" (click)="page='bet'">标准投注</li>
		<li (click)="page='zst'">走势工具</li>
	</ul>
	<div class="k-tabs" style="bottom:5rem;" id="Jq_swipe">
		<div class="k-tabs-con">
			<div class="lot-history">
				<p class="lot-history-tit">当前奖池：<span class="red">649,899,998</span>元<span class="ml25">投30倍可掏空</span></p>
				<ul class="lot-history-list">
					<li class="justify">
						<p>
							<span class="tit">第2015017期</span>
							<i class="red">02</i>
							<i class="red">12</i>
							<i class="red">16</i>
							<i class="red">19</i>
							<i class="red">27</i>
							<i class="red">30</i>
							<i class="blue">11</i>
						</p>
						<span>幸运蓝球：<i class="blue">11</i></span>
					</li>
					<li class="justify">
						<p>
							<span class="tit">第2015017期</span>
							<i class="red">02</i>
							<i class="red">12</i>
							<i class="red">16</i>
							<i class="red">19</i>
							<i class="red">27</i>
							<i class="red">30</i>
							<i class="blue">11</i>
						</p>
						<span>幸运蓝球：<i class="blue">11</i></span>
					</li>
					<li class="justify">
						<p>
							<span class="tit">第2015017期</span>
							<i class="red">02</i>
							<i class="red">12</i>
							<i class="red">16</i>
							<i class="red">19</i>
							<i class="red">27</i>
							<i class="red">30</i>
							<i class="blue">11</i>
						</p>
						<span>幸运蓝球：<i class="blue">11</i></span>
					</li>
				</ul>
			</div>
			<div class="lot-date justify">
				<ssqbobao (message-event)="messageEventCompleted($event)"></ssqbobao>
				<span id="jq_spread_link" class="link">点击展开往期开奖<i class="arrow-top on">↑</i></span>
				<!-- arrow-top 箭头向下 -->
			</div>
			<div class="bet-box">
				<ul class="ball-con red-balls clearfix" id="normal_redball_area">
					<li *ng-for="#code of betInfo.get('red').values()">
						<span [class]="{'flex-center':true,'active':code.selected}" (click)="xuanhao(code)">{{code.code}}</span><i class="gray">9</i>
					</li>
				</ul>
				<ul class="ball-con blue-balls clearfix" id="normal_blueball_area">
					<li *ng-for="#code of betInfo.get('blue').values()">
						<span [class]="{'flex-center':true,'active':code.selected}" (click)="xuanhao(code)">{{code.code}}</span><i class="gray">9</i>
					</li>
				</ul>
			</div>
		</div>
	</div>
	<div class="pick-area">
		<div class="pick-toolbar">
			<div class="tc-btn-group">
				<a href="javascript:void(0);" [class]="{'tc-btn':true,'tc-btn-random':betInfo.get('betCount')<1, 'tc-btn-info':betInfo.get('betCount')>0, 'i-shake':true}"  (click)="randomCode()">{{(betInfo | betCountPipe)>0?'清空':'随机一注'}}</a>
				<a href="javascript:void(0);" class="tc-btn tc-btn-large tc-btn-primary" (click)="betConfirm()">{{betInfo.get('betCount') | betInfoPipe}}</a>
			</div>
		</div>
	</div>
</template>
<template [ng-switch-when]="'zst'">
	<ul class="k-tabs-hd aequilatus">
		<li (click)="page='bet'">标准投注</li>
		<li class="active"  (click)="page='zst'">走势工具</li>
	</ul>
	<div class="k-tabs" style="bottom: 5rem; -webkit-user-select: none; -webkit-user-drag: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0); touch-action: none;" id="Jq_swipe"><div class="xscroll-container" style="height: 100%; width: 100%; overflow: hidden;">
		<div class="trend-content tac gray fs24" style="display: block;">
			<img src="/perfmjs/example/angular2-try/images/ssq/trend.png?vt=5" alt="">
			<p class="mt20">走势图等相关工具欢迎下载客户端体验</p>
			<div class="tc-btn-group mt10">
				<a href="http://s0.pstatp.com/site/download/app/apk/other/acp_jrtc_v2_0_3-2334610.apk" class="tc-btn tc-btn-large tc-btn-primary" style="-webkit-user-select: none; -webkit-user-drag: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0); touch-action: none;">客户端下载</a>
			</div>
		</div>
	</div>
</template>
</div>