<div id="pagelet-navline" style="left: 1115.5px;">
    <div class="nav-line clearfix current" data-node="articleLabel">
        <span class="circle"></span>
        <span class="label">文章</span>
    </div>
    <div class="nav-line clearfix" data-node="commentLabel">
        <span class="circle"></span>
        <span class="label">评论</span>
    </div>
    <div class="line l1"></div>


    <div class="nav-line clearfix" data-node="moreLabel">
        <span class="circle"></span>
        <span class="label">相关阅读</span>
    </div>
    <div class="line l2"></div>
</div>