<div id="pagelet-like">
    <div class="ctn clearfix"
         data-node="likeGroup"
         data-groupid="4664648887"
            >
        <a href="javascript:;"
           class="digg "
           data-node="digg"
           title="顶"
                >
        </a>
        <a href="javascript:;"
           class="bury "
           data-node="bury"
           title=" 踩 "
                >
        </a>
        <span class="count"
              data-node="ndigg"
                >
              397</span>
        <span class="count"
              data-node="nbury"
                >
              85</span>
    </div>
</div>
<div id="pagelet-detailbar" class="clearfix"
     data-groupid="4664648887">

    <ul data-node="tagList" class="tag-list">
        <i class="lb">相关标签：</i>


        <li>
            <a href="http://toutiao.com/tag85477640/">财经</a>
        </li>

        <li>
            <a href="http://toutiao.com/tag89593587/">投资</a>
        </li>

        <li>
            <a href="http://toutiao.com/tag85522594/">股票</a>
        </li>

        <li>
            <a href="http://toutiao.com/tag86905286/">深交所</a>
        </li>

    </ul>

    <div class="tools"
         data-node="tools">
        <a class="item fav "
           data-node="fav" data-type="repin">
            <i class="icon icon-fav"></i>
            <span>收藏</span>
        </a>
        <a data-node="share"
           data-url="http://web.toutiao.com/i/group/article/4664648887/?app=news_article"
           data-desc="来自头条 http://www.toutiao.com"
           data-text="【没有买卖，就没有伤害？A股史上最大停牌潮！（分享来自 @今日头条）A股保卫战还未结束，越来越多上市公司宣布增持，也越来越多上市公司宣布停牌。这其中包含了部分前期已经停牌的公司。停牌公司大多是创业板和中小板。截至记者发稿时，沪深股市总共有239家公司发布了停牌公告，其中沪市41家，深市198家。这其中包含了部分前期已经停牌的公司。此外，另据Win..."
           data-pic="<%=group.image_url%>"
           class="btn share item"
           href="javascript:;">
            <i class="icon icon-share"></i>
            <span>分享</span>

                <span class="share-list">
                    <i ga_event="feed_item_share"
                       ga_label="tsina"
                       data-type="tsina"
                       class="icon icon-tsina"
                       href="javascript:;" title="分享到新浪微博"></i>
                    <i ga_event="feed_item_share"
                       ga_label="tqq"
                       data-type="tqq"
                       class="icon icon-tqq"
                       href="javascript:;" title="分享到腾讯微博"></i>
                    <i ga_event="feed_item_share" ga_label="qzone" data-type="qzone" class="icon icon-qzone" href="javascript:;" title="分享到ＱＱ空间"></i>
                </span>
        </a>
        <a class="item report" data-node="report">
            <i class="icon icon-report"></i>
            <span><a href="http://toutiao.com/complain/">举报</a></span>
        </a>
    </div>
</div>

<div id="pagelet-comment" data-pid="0" data-groupid="4664648887">
    <div class="top clearfix">
        <h2>评论</h2>
        <span class="cc">237 条评论</span>
    </div>

    <div class="middle clearfix">
        <div class="profile">
            <img src="http://mat1.gtimg.com/www/mb/images/head_50.jpg" data-node="profile"></img>
        </div>
        <div class="input">
            <textarea placeholer="写下您的评论"></textarea>
            <div class="bottom">
                <span class="sns-label">分享到：</span>
                <div class="sns-group" data-node="snsGroup">
                    <a class="sns weibo" data-node="sina_weibo"></a>
                    <!--a class="sns qqzone" data-node="qzone_sns"></a>
                    <a class="sns renren" data-node="renren_sns"></a-->
                    <a class="sns ttweibo" data-node="qq_weibo"></a>
                </div>
                <a href="javascript:;" class="publish-btn" data-node="publish"> 发表 </a>
            </div>
        </div>
    </div>

    <div class="comments-list" data-node="commentList">
        <ul>


            <li class="comment-item clearfix" data-comment-id="4666398007" data-comment-type="2">
                <div class="avatar">
                    <a href="/user/4555884279/" target="_blank">
                        <img src="http://wx.qlogo.cn/mmopen/Q3auHgzwzM6r24fk4j0nTbYk9gyxhxicyWtD2AUkJGiaLd2p1Lyk4fA7I1eEVxUiaefZic7nZ0YzRG7rVyAJSAWWoQ/46" />
                    </a>
                </div>

                <div class="comment-content">
                    <div class="name">
                        <a href="/user/4555884279/" target="_blank">
                            咖啡末末43642603

                        </a>

                    </div>

                    <div class="content">
                        不敢看账户余额的举手，不敢看资金账户的举手
                    </div>

                    <div class="comment_actions clearfix">
                        <span class='time'> 07-07 08:53 </span>

            <span class='action'
                  status="">

              <a href="javascript:;"
                 data-commentid="4666398007"
                 data-groupid="4664648887"
                 class="comment_digg ">
                  1090
              </a>
              <a class="c-comment" href="#" data-node="listcomment">
                  <img src="http://s0.pstatp.com/resource/toutiao_web/static/style/image/article_ic_comments_normal_28b271f.png"></img>
              </a>
            </span>
                    </div>
                </div>
            </li>


            <li class="comment-item clearfix" data-comment-id="4666350325" data-comment-type="2">
                <div class="avatar">
                    <a href="/user/1532668476/" target="_blank">
                        <img src="http://p2.pstatp.com/thumb/3818/4208076488" />
                    </a>
                </div>

                <div class="comment-content">
                    <div class="name">
                        <a href="/user/1532668476/" target="_blank">
                            厚诚孝义

                        </a>

                    </div>

                    <div class="content">
                        其中一个战略，打不赢就逃，逃不了就躲，多不了就诈死。
                    </div>

                    <div class="comment_actions clearfix">
                        <span class='time'> 07-07 08:46 </span>

            <span class='action'
                  status="">

              <a href="javascript:;"
                 data-commentid="4666350325"
                 data-groupid="4664648887"
                 class="comment_digg ">
                  213
              </a>
              <a class="c-comment" href="#" data-node="listcomment">
                  <img src="http://s0.pstatp.com/resource/toutiao_web/static/style/image/article_ic_comments_normal_28b271f.png"></img>
              </a>
            </span>
                    </div>
                </div>
            </li>


            <li class="comment-item clearfix" data-comment-id="4666374231" data-comment-type="2">
                <div class="avatar">
                    <a href="/user/3870616450/" target="_blank">
                        <img src="http://p7.pstatp.com/thumb/2171/6003290650" />
                    </a>
                </div>

                <div class="comment-content">
                    <div class="name">
                        <a href="/user/3870616450/" target="_blank">
                            江淮大狗

                        </a>

                    </div>

                    <div class="content">
                        建议停市！
                    </div>

                    <div class="comment_actions clearfix">
                        <span class='time'> 07-07 08:47 </span>

            <span class='action'
                  status="">

              <a href="javascript:;"
                 data-commentid="4666374231"
                 data-groupid="4664648887"
                 class="comment_digg ">
                  207
              </a>
              <a class="c-comment" href="#" data-node="listcomment">
                  <img src="http://s0.pstatp.com/resource/toutiao_web/static/style/image/article_ic_comments_normal_28b271f.png"></img>
              </a>
            </span>
                    </div>
                </div>
            </li>


            <li class="comment-item clearfix" data-comment-id="4666189649" data-comment-type="2">
                <div class="avatar">
                    <a href="/user/3123092266/" target="_blank">
                        <img src="http://p2.pstatp.com/thumb/1071/3397720074" />
                    </a>
                </div>

                <div class="comment-content">
                    <div class="name">
                        <a href="/user/3123092266/" target="_blank">
                            狂人日记6696

                        </a>

                    </div>

                    <div class="content">
                        关住你，等庄家筹到钱再开板
                    </div>

                    <div class="comment_actions clearfix">
                        <span class='time'> 07-07 08:10 </span>

            <span class='action'
                  status="">

              <a href="javascript:;"
                 data-commentid="4666189649"
                 data-groupid="4664648887"
                 class="comment_digg ">
                  132
              </a>
              <a class="c-comment" href="#" data-node="listcomment">
                  <img src="http://s0.pstatp.com/resource/toutiao_web/static/style/image/article_ic_comments_normal_28b271f.png"></img>
              </a>
            </span>
                    </div>
                </div>
            </li>


            <li class="comment-item clearfix" data-comment-id="4666477853" data-comment-type="2">
                <div class="avatar">
                    <a href="/user/2785663682/" target="_blank">
                        <img src="http://p2.pstatp.com/thumb/313/4826116546" />
                    </a>
                </div>

                <div class="comment-content">
                    <div class="name">
                        <a href="/user/2785663682/" target="_blank">
                            沉淀22277497

                        </a>

                    </div>

                    <div class="content">
                        现在这股票啊，它含钙高，跌一天等于过去跌五天，实惠！ 你看它一口气跌五天，不反弹！ 买了它啊！腰不酸了！腿也不痛了！跳楼也有劲了！
                    </div>

                    <div class="comment_actions clearfix">
                        <span class='time'> 07-07 09:12 </span>

            <span class='action'
                  status="">

              <a href="javascript:;"
                 data-commentid="4666477853"
                 data-groupid="4664648887"
                 class="comment_digg ">
                  114
              </a>
              <a class="c-comment" href="#" data-node="listcomment">
                  <img src="http://s0.pstatp.com/resource/toutiao_web/static/style/image/article_ic_comments_normal_28b271f.png"></img>
              </a>
            </span>
                    </div>
                </div>
            </li>


            <li class="comment-item clearfix" data-comment-id="4666235879" data-comment-type="2">
                <div class="avatar">
                    <a href="/user/3003013845/" target="_blank">
                        <img src="http://p2.pstatp.com/thumb/594/3673738171" />
                    </a>
                </div>

                <div class="comment-content">
                    <div class="name">
                        <a href="/user/3003013845/" target="_blank">
                            幻动魔力

                        </a>

                    </div>

                    <div class="content">
                        都关门谢客了！剩下的来挨刀？岂不更惨
                    </div>

                    <div class="comment_actions clearfix">
                        <span class='time'> 07-07 08:43 </span>

            <span class='action'
                  status="">

              <a href="javascript:;"
                 data-commentid="4666235879"
                 data-groupid="4664648887"
                 class="comment_digg ">
                  107
              </a>
              <a class="c-comment" href="#" data-node="listcomment">
                  <img src="http://s0.pstatp.com/resource/toutiao_web/static/style/image/article_ic_comments_normal_28b271f.png"></img>
              </a>
            </span>
                    </div>
                </div>
            </li>


            <li class="comment-item clearfix" data-comment-id="4666346690" data-comment-type="2">
                <div class="avatar">
                    <a href="/user/3972052635/" target="_blank">
                        <img src="http://wx.qlogo.cn/mmopen/bOTVr28mch2gdbTM7LUXwXPAviaXCIliaI6W0BaQia2D47ViaFwSWQI1qmx6yYCDE7myFJDPciaS36GZtCH7I8Q7fGMKJ73c7WBxib/46" />
                    </a>
                </div>

                <div class="comment-content">
                    <div class="name">
                        <a href="/user/3972052635/" target="_blank">
                            绘图者

                        </a>

                    </div>

                    <div class="content">
                        被骗次数太多了，全靠停牌来自救，悲哀
                    </div>

                    <div class="comment_actions clearfix">
                        <span class='time'> 07-07 08:47 </span>

            <span class='action'
                  status="">

              <a href="javascript:;"
                 data-commentid="4666346690"
                 data-groupid="4664648887"
                 class="comment_digg ">
                  95
              </a>
              <a class="c-comment" href="#" data-node="listcomment">
                  <img src="http://s0.pstatp.com/resource/toutiao_web/static/style/image/article_ic_comments_normal_28b271f.png"></img>
              </a>
            </span>
                    </div>
                </div>
            </li>


            <li class="comment-item clearfix" data-comment-id="4666415453" data-comment-type="2">
                <div class="avatar">
                    <a href="/user/2725757401/" target="_blank">
                        <img src="http://p1.pstatp.com/thumb/3593/856557149" />
                    </a>
                </div>

                <div class="comment-content">
                    <div class="name">
                        <a href="/user/2725757401/" target="_blank">
                            你说我像风

                        </a>

                    </div>

                    <div class="content">
                        我能想到最浪漫的事， 就是和你一起全部套牢， 一路上收藏点点滴滴的利好， 留到以后 坐着轮椅慢慢聊。 我能想到最浪漫的事， 就是和你一起全部套牢， 直到我们老的哪儿也去不了， 你还依然 紧紧抓着手里的股票
                    </div>

                    <div class="comment_actions clearfix">
                        <span class='time'> 07-07 09:12 </span>

            <span class='action'
                  status="">

              <a href="javascript:;"
                 data-commentid="4666415453"
                 data-groupid="4664648887"
                 class="comment_digg ">
                  67
              </a>
              <a class="c-comment" href="#" data-node="listcomment">
                  <img src="http://s0.pstatp.com/resource/toutiao_web/static/style/image/article_ic_comments_normal_28b271f.png"></img>
              </a>
            </span>
                    </div>
                </div>
            </li>


            <li class="comment-item clearfix" data-comment-id="4666676139" data-comment-type="2">
                <div class="avatar">
                    <a href="/user/4500049900/" target="_blank">
                        <img src="http://p2.pstatp.com/thumb/5730/6277584910" />
                    </a>
                </div>

                <div class="comment-content">
                    <div class="name">
                        <a href="/user/4500049900/" target="_blank">
                            玉皇大帝是我干儿子

                        </a>

                    </div>

                    <div class="content">
                        如果这次能解套。在不进股市的举手表决。
                    </div>

                    <div class="comment_actions clearfix">
                        <span class='time'> 07-07 09:57 </span>

            <span class='action'
                  status="">

              <a href="javascript:;"
                 data-commentid="4666676139"
                 data-groupid="4664648887"
                 class="comment_digg ">
                  60
              </a>
              <a class="c-comment" href="#" data-node="listcomment">
                  <img src="http://s0.pstatp.com/resource/toutiao_web/static/style/image/article_ic_comments_normal_28b271f.png"></img>
              </a>
            </span>
                    </div>
                </div>
            </li>


            <li class="comment-item clearfix" data-comment-id="4666228670" data-comment-type="1">
                <div class="avatar">
                    <a href="/user/1506595717/" target="_blank">
                        <img src="http://tp2.sinaimg.cn/2097494221/50/5727424514/1" />
                    </a>
                </div>

                <div class="comment-content">
                    <div class="name">
                        <a href="/user/1506595717/" target="_blank">
                            小钦定语疯了的_Q

                        </a>

                    </div>

                    <div class="content">
                        停牌有用嘛。。出来就一字封停[泪][泪][泪]
                    </div>

                    <div class="comment_actions clearfix">
                        <span class='time'> 07-07 07:56 </span>

            <span class='action'
                  status="">

              <a href="javascript:;"
                 data-commentid="4666228670"
                 data-groupid="4664648887"
                 class="comment_digg ">
                  52
              </a>
              <a class="c-comment" href="#" data-node="listcomment">
                  <img src="http://s0.pstatp.com/resource/toutiao_web/static/style/image/article_ic_comments_normal_28b271f.png"></img>
              </a>
            </span>
                    </div>
                </div>
            </li>

        </ul>


        <div class="comment_paginator pager page_number page_page_number">

            <a data-page="1" class="page_number-next current">1</a>

            <a data-page="2" class="page_number-next">2</a>

            <a data-page="3" class="page_number-next">3</a>

            <a data-page="4" class="page_number-next">4</a>

            <a data-page="5" class="page_number-next">5</a>

            <a data-page="6" class="page_number-next">6</a>

            <a data-page="7" class="page_number-next">7</a>




            ...

            <a data-page="24" class="page_number-next ">24</a>



            <a data-page="2" class="page-number-next">下一页</a>

        </div>

    </div>
</div>