<div id="pagelet-nav">
    <div class="nav-inner clearfix">
        <div class="nav-logo">
            <a href="/" class="logo-box" ga_event="nav_icon">
                <img src="http://s0.pstatp.com/resource/toutiao_web/static/style/image/toutiaoweblogo_563cefb.png" class="logo">
            </a>
        </div>
        <div class="nav-title">
            <ul class="clearfix">
                <li>
                    <a data-node="home" ga_event="nav_index" class="btn" href="http://toutiao.com/">
                        <span>首页</span>
                    </a>
                </li>
                <li>
                    <a data-node="dynamic" ga_event="nav_dynamic" class="btn" href="http://toutiao.com/updates/">
                        <span>动态</span>
                    </a>
                </li>
            </ul>
        </div>
        <div class="nav-subtitle">
            <ul class="nav-list clearfix">

                <li class="username-box nav-item" data-node="username">
                    <a class="btn user-head" href="//web.toutiao.com/user/4572904301/pin/">
                        <img src="http://p0.pstatp.com/origin/3795/3033762272">
                        <span>195425</span>
                    </a>
                    <i class="line"></i>
                    <div class="layer">
                        <ul>
                            <li><a ga_event="nav_my_pin" href="http://web.toutiao.com/user/4572904301/pin/" class="layer-item">我的收藏</a></li>
                            <li><a ga_event="nav_my_message" href="http://web.toutiao.com/user/4572904301/subscribe/" class="layer-item">我的订阅</a></li>
                            <li><a ga_event="nav_my_message" href="http://web.toutiao.com/user/4572904301/followers/" class="layer-item">我的粉丝</a></li>
                            <li><a ga_event="nav_my_message" href="http://web.toutiao.com/user/4572904301/followings/" class="layer-item">我的关注</a></li>
                            <li><a ga_event="nav_loginout" href="http://web.toutiao.com/auth/logout/" class="layer-item">退出</a></li>
                        </ul>
                    </div>
                </li>


                <li class="nav-item">
                    <a ga_event="nav_pgc" target="_blank" class="btn" href="http://mp.toutiao.com/">
                        <span>头条号</span>
                    </a>
                    <i class="line"></i>
                </li>
                <li class="nav-item more-box" data-node="more">
                    <a ga_event="nav_more" class="btn" href="http://toutiao.com/about/">
                        <span>更多</span>
                    </a>
                    <div class="layer">
                        <ul>

                            <li><a href="http://toutiao.com/articles_news_society/" class="layer-item">头条简版</a></li>

                            <li><a href="http://toutiao.com/about/" class="layer-item">关于头条</a></li>
                            <li><a href="http://toutiao.com/join/" class="layer-item">加入头条</a></li>
                            <li><a href="http://toutiao.com/report/" class="layer-item">媒体报道</a></li>
                            <li><a href="http://toutiao.com/media_partners/" class="layer-item">媒体合作</a></li>
                            <li><a href="http://toutiao.com/cooperation/" class="layer-item">产品合作</a></li>
                            <li><a href="http://toutiao.com/media_cooperation/" class="layer-item">合作说明</a></li>
                            <li><a href="http://toutiao.com/contact/" class="layer-item">联系我们</a></li>
                            <li><a href="http://toutiao.com/user_agreement/" class="layer-item">用户协议</a></li>
                            <li><a href="http://toutiao.com/complain/" class="layer-item">举报说明</a></li>
                        </ul>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>