<link type="text/css" rel="stylesheet" href="http://s0.pstatp.com/resource/toutiao_web/static/style/base_a28dba0.css">
<link type="text/css" rel="stylesheet" href="http://s2.pstatp.com/resource/toutiao_web/static/style/detail/detail_65292e0.css">
<link rel="stylesheet" type="text/css" href="http://s2.pstatp.com/resource/toutiao_web/static/pkg/core_37056e0.css">
<link rel="stylesheet" type="text/css" href="http://s2.pstatp.com/resource/toutiao_web/pagelet/like/like_889495a.css">
<link rel="stylesheet" type="text/css" href="http://s2.pstatp.com/resource/toutiao_web/static/pkg/detail_6d59a53.css">

<div id="wrapper">
    <biz-header></biz-header>
    <div id="container" class="bg-white clearfix">
        <div class="container-main">
            <div class="article-detail">
                <div class="title">
                    <h1>没有买卖，就没有伤害？A股史上最大停牌潮！</h1>
                    <div class="subtitle clearfix">
                        
                        <span class="profile_avatar">
                            <a href="/m4085395345/">
                                <img src="http://p1.pstatp.com/large/2490/5243713264"/>
                                成都商报
                            </a>
                        </span>


                        <span class="time">2015-07-07 09:10</span>
                    </div>
                </div>

                <div class="article-content">
                    <p><em>A股保卫战还未结束，越来越多上市公司宣布增持，也越来越多上市公司宣布停牌。这其中包含了部分前期已经停牌的公司。停牌公司大多是创业板和中小板。</em></p><p>截至记者发稿时，沪深股市总共有239家公司发布了停牌公告，其中沪市41家，深市198家。这其中包含了部分前期已经停牌的公司。</p><p>此外，另据Wind统计，7月6日停牌的公司已达到了576家，如此规模的停牌潮为A股历史所罕见，被市场人士称为是A股史上最大规模停牌潮。</p><p>停牌公司大多是创业板和中小板。7月6日，上证指数在各路资金的保卫中独涨，而深成指跌和创业板指数继续暴跌。面对中小市值公司相继宣布停牌，市场人士戏称：“大家都停牌了，没有买卖，就没有伤害！”</p><img src="http://p1.pstatp.com/large/5931/5064346500" img_width="400" img_height="300" alt="没有买卖，就没有伤害？A股史上最大停牌潮！"
                                                                                                                                                                                                                                                                                                                                                                   onerror="javascript:errorimg.call(this);" >
                </div>
            </div>

       <biz-sns></biz-sns>
       <biz-right></biz-right>
       <biz-morearticle></biz-morearticle>

        </div>
    </div>
</div>
<biz-footer></biz-footer>
