<!DOCTYPE html>
<html>
<head lang="en">
    <base href="/perfmjs/example/angular/"/>
    <meta charset="UTF-8">
    <title>Hello-AngularJS!</title>
    <script type="text/javascript" src="/perfmjs/build/core.js?v=20141203001^{f:'/perfmjs/example/angular/include.js',m:'common'}"></script>
    <!--<script type="text/javascript" src="http://g.aicaicdn.com/common/skyjs/core-2.1.1.js?v=20141203001^{f:'/perfmjs/example/angular/include.js',m:'common'}"></script>-->
</head>
<body>
<a target="_blank" href="http://www.w3cschool.cc/angularjs/angularjs-http.html">Hello AngularJS! 教程</a>
<br>
<a target="_blank" href="http://www.html-js.com/article/1561">angular开发 创建自定义指令</a>
<br>
<a target="_blank" href="https://docs.angularjs.org/api/">AngularJS API Docs</a>
<br>
<a target="_blank" href="http://bubkoo.com/tags/AngularJS/">AngularJS ui-router</a>
<hello></hello>
<hr>
<login-directive></login-directive>
<hr>
<div ng-controller="ngController1">
    {{greeting}}
    <button ng-click="chiliSpicy()">Click Me</button>
</div>
<div ng-controller="ngController1">
    名： <input type="text" ng-model="person.firstName"><br>
    姓： <input type="text" ng-model="person.lastName"><br>
    姓名： {{person.fullName()}}<br>
    年龄：{{person.age}}<br>
    Angular版本：{{person.getNgVersion()}}<br>
</div>
<button change-name-button>修改名字</button>
<div>
    <p ng-if="1===1">我的第一个表达式： {{5 + 5}}</p>
</div><hr>
ng-view<hr>
<div ng-view></div>
<input type="text" ng-model="person.age" money>
下拉刷新<hr>
<div ng-controller='demoController'>
    <div infinite-scroll='loadMore()' infinite-scroll-distance='5'>
        <img ng-repeat='image in images' ng-src='http://placehold.it/225x250&text={{image}}'>
    </div>
</div>
</body>
</html>