<header id="header">
    <div class="top_bar">
        <div class="abs_l">
            <a href="javascript:void(0);" class="v-btn-prev" (^click)="goback()">返回</a>
        </div>
        <div class="abs_m">
            <a href="#" class="refresh_title btn"></a><a href="javascript:void(0)" class="refresh_btn btn" (^click)="refresh()"></a>
        </div>
        <div class="abs_r" style="display:none;">
            <a href="/search/" class="btn search"></a>
        </div>
    </div>
</header>
<content>
<article id="pageletArticleContent" class="box">
    <div class="article-detail">
        <h1 class="title">{{title}}</h1>
        <div class="pgc-bar-top">
            <!--<a href="javascript:void(0);" class="avatar-link vwo-media-profile">-->
                <!--<div class="avatar">-->
                    <!--<img src="http://p2.pstatp.com/large/1242/4415357249" class="avatar" alt="{{source}}">-->
                <!--</div>-->
            <!--</a>-->
            <div class="subtitle" style="padding-left:0rem">
                <!--<p class="name"><a href="javascript:void(0);" class="vwo-media-profile">{{source}}&lt;!&ndash;img src="http://s2.pstatp.com/resource/toutiao_wap/static/image/toutiaohao_details@3x_87c68ae.png"&ndash;&gt;</a></p>-->
                <p class="time"><a href="javascript:void(0);" class="vwo-media-profile">{{source}}</a>&nbsp;&nbsp;<a href="javascript:void(0);" class="vwo-media-profile">{{createTime}}</a><span *ng-if="sourceUrl"> / <a href="{{sourceUrl?sourceUrl:'javascript:void(0);'}}" class="vwo-media-profile">相关链接</a></span></p>
            </div>
        </div>
        <div class="article-content"><content>{{content}}</content></div>
        <!--<div class="banner-bg" style=""></div>-->
        <!--<div class="unfold-field" style="display: block;">-->
            <!--<a href="javascript:void(0)" class="text-link unfold-btn vwo-unfold" ga_category="article" ,="" ga_label="" ga_event="open">-->
                <!--<p>展开全文<span></span></p>-->
            <!--</a>-->
        <!--</div>-->
    </div>
</article>
<!--点赞-->
<div id="pagelet-like">
    <div class="ctn clearfix">
        <a (click)="like()" href="javascript:void(0);" class="digg" title="顶"></a>
        <a (click)="unlike()" href="javascript:void(0);" class="bury" title=" 踩 "></a>
        <span class="count" data-node="ndigg">{{likeCount}}</span>
        <span class="count" data-node="nbury">{{unlikeCount}}</span>
    </div>
</div>

<!--评论-->
<div id="pageletCommentsShare" class="comments">
    <div class="box-content">
        <div class="no-action comment-share-container">
            <h2>热门评论</h2>
            <div *ng-for="#cmsComment of cmsComments;#idx=index" class="comment-content">
                <div class="avatar btn">
                    <a class="btn"><img src="http://p0.pstatp.com/origin/3795/3047680722"></a>
                </div>
                <div class="name">
                    <a class="btn text-ellipsis" title="{{cmsComment[1]}}">{{cmsComment[1]}} / {{cmsComment[4]}}</a>
                </div>
                <div class="content"><a data-node="commentText" class="btn">{{cmsComment[3]}}</a></div>
                <div class="action_pane">
                    <a class="btn digg" href="javascript:void(0);" (click)="likeComment(idx, cmsComment[0])">{{cmsComment[2]}}</a><a class="list_action btn"></a>
                </div>
            </div>
            <!--<div class="comment-content">-->
                <!--<div class="avatar btn">-->
                    <!--<a class="btn"><img src="http://p0.pstatp.com/origin/3795/3047680722"></a>-->
                <!--</div>-->
                <!--<div class="name">-->
                    <!--<a class="btn text-ellipsis" title="手机用户3553160278">手机用户3553160278</a>-->
                <!--</div>-->
                <!--<div class="content"><a data-node="commentText" class="btn">愿所有人都平安无事！失踪人员坚强的！好多好人来救你们了！</a></div>-->
                <!--<div class="action_pane">-->
                    <!--<a class="btn digg" comment_id="5346050293" bury_count="0" digg_count="767" href="javascript:;">767</a><a class="list_action btn"></a>-->
                <!--</div>-->
            <!--</div>-->
            <!--<div class="comment-content">-->
                <!--<div class="avatar btn">-->
                    <!--<a class="btn"><img src="http://q.qlogo.cn/qqapp/100290348/6841D7F1D5B8C9D1F44A1EE396028995/40"></a>-->
                <!--</div>-->
                <!--<div class="name">-->
                    <!--<a class="btn text-ellipsis" title="心如寒冰冷">心如寒冰冷</a>-->
                <!--</div>-->
                <!--<div class="content"><a data-node="commentText" class="btn">天灾人祸，以后再也不要生气，争那争这了，不幸的人太多了</a></div>-->
                <!--<div class="action_pane">-->
                    <!--<a class="btn digg" comment_id="5346086436" bury_count="0" digg_count="339" href="javascript:;">339</a><a class="list_action btn"></a>-->
                <!--</div>-->
            <!--</div>-->
        </div>
        <!--<div class="comment-app-download">-->
            <!--<a class="vwo-comment-banner" data-type="app_open" ga_category="comment" ga_event="banner_click" ga_label="" href="http://d.toutiao.com/Y4tB/" target="_blank" rel="nofollow" data-position="comment">-->
                    <!--<span>打开今日头条, 查看全部389条评论-->
                    <!--</span>-->
            <!--</a>-->
        <!--</div>-->
    </div>
</div>
<!--写评论-->
<div id="pagelet-comment" data-pid="0" data-groupid="5335064262" data-itemid="0">
    <div class="top clearfix">
        <h2>评论</h2>
        <span class="cc">{{cmsComments.length}} 条评论</span>
    </div>
    <div class="middle clearfix">
        <div class="profile">
            <img src="http://mat1.gtimg.com/www/mb/images/head_50.jpg" data-node="profile">
        </div>
        <div class="input">
            <textarea placeholer="写下您的评论" [ng-form-control]="comment" style="overflow:hidden;"></textarea>
            <div class="bottom">
                <span class="sns-label">分享到：</span>
                <div class="sns-group" data-node="snsGroup">
                    <a class="sns weibo" data-node="sina_weibo"></a>
                    <!--a class="sns qqzone" data-node="qzone_sns"></a>
                    <a class="sns renren" data-node="renren_sns"></a-->
                    <a class="sns ttweibo" data-node="qq_weibo"></a>
                </div>
                <a href="javascript:void(0);" class="publish-btn" (click)="publish()"> 发表 </a>
            </div>
        </div>
    </div>
    <div class="comments-list" data-node="commentList">
        <ul>
        </ul>
    </div>
</div>
</content>