<article id="pageletArticleContent" group_id="5343755060" comment_count="382" class="box ">
    <div class="article-detail">
        <h1 class="title">陕西山阳滑坡已有14人被救 现场移动通讯中断</h1>
        <div class="pgc-bar-top" data-node="titleCtn" data-user-id="3347195657">
            <a href="/m3347195657/" ga_category="toutiaohao" ga_label="" ga_event="click" class="avatar-link vwo-media-profile">
                <div class="avatar">
                    <img src="http://p2.pstatp.com/large/1242/4415357249" class="avatar" alt="中国天气">
                </div>
            </a>
            <div class="subtitle">
                <p class="name"><a href="/m3347195657/" ga_category="toutiaohao" ga_label="" ga_event="click" class="vwo-media-profile">中国天气<img src="http://s2.pstatp.com/resource/toutiao_wap/static/image/toutiaohao_details@3x_87c68ae.png"></a></p>
                <p class="time"><a href="/m3347195657/" ga_category="toutiaohao" ga_label="" ga_event="click" class="vwo-media-profile">08-12 11:59 / </a><span><a href=" http://news.weather.com.cn/2015/08/2372420.shtml " ga_category="toutiaohao" ga_label="" ga_event="click" class="vwo-media-profile">相关链接</a></span></p>
            </div>
        </div>
        <div class="article-content">
            <p><img src="http://p1.pstatp.com/large//6978/3880558810" img_width="440" img_height="330" alt="陕西山阳滑坡已有14人被救 现场移动通讯中断" onerror="javascript:errorimg.call(this);"></p><p><img src="http://p2.pstatp.com/large//6977/3911090030" img_width="440" img_height="587" alt="陕西山阳滑坡已有14人被救 现场移动通讯中断" onerror="javascript:errorimg.call(this);" class="mt12"></p><p>中新网陕西山阳8月12日电 记者12日从陕西省商洛市山阳县人民政府办公室获悉，该县当日凌晨0点30分发生一起山体滑坡，约40人失踪。目前，已有14人被救出。</p><p>12日0时30分许，山阳县中村镇碾沟村五洲矿业公司附近山体发生滑坡，厂区15间工棚3间民房被埋，约40人下落不明。</p><p>山阳县政府向中新网记者透露，现场处于一个山沟里，距离中村镇15公里，目前雨势较大，移动通讯信号中断。除了救援人员及其机械进入现场，其他人等已陆续撤离。</p><p>灾情发生后，国土资源部已启动应急响应，当地政府及国土资源部门相关官员赶赴现场开展相关工作。</p>
        </div>
        <!--<div class="banner-bg" style=""></div>-->
        <!--<div class="unfold-field" style="display: block;">-->
            <!--<a href="javascript:void(0)" class="text-link unfold-btn vwo-unfold" ga_category="article" ,="" ga_label="" ga_event="open">-->
                <!--<p>展开全文<span></span></p>-->
            <!--</a>-->
        <!--</div>-->
    </div>
</article>
<!--点赞-->
<div id="pagelet-like">
    <div class="ctn clearfix" data-node="likeGroup" data-groupid="5335064262">
        <a href="javascript:;" class="digg " data-node="digg" title="顶">
        </a>
        <a href="javascript:;" class="bury " data-node="bury" title=" 踩 ">
        </a>
        <span class="count" data-node="ndigg">
              529</span>
        <span class="count" data-node="nbury">
              201</span>
    </div>
</div>

<!--评论-->
<div id="pageletCommentsShare" class="comments">
    <div class="box-content">
        <div class="no-action comment-share-container">
            <h2>热门评论</h2>
            <div class="comment-content">
                <div class="avatar btn">
                    <a class="btn"><img src="http://p0.pstatp.com/origin/3795/3047680722"></a>
                </div>
                <div class="name">
                    <a class="btn text-ellipsis" title="手机用户3553160278">手机用户3553160278</a>
                </div>
                <div class="content"><a data-node="commentText" class="btn">愿所有人都平安无事！失踪人员坚强的！好多好人来救你们了！</a></div>
                <div class="action_pane">
                    <a class="btn digg" comment_id="5346050293" bury_count="0" digg_count="767" href="javascript:;">767</a><a class="list_action btn"></a>
                </div>
            </div>
            <div class="comment-content">
                <div class="avatar btn">
                    <a class="btn"><img src="http://q.qlogo.cn/qqapp/100290348/6841D7F1D5B8C9D1F44A1EE396028995/40"></a>
                </div>
                <div class="name">
                    <a class="btn text-ellipsis" title="心如寒冰冷">心如寒冰冷</a>
                </div>
                <div class="content"><a data-node="commentText" class="btn">天灾人祸，以后再也不要生气，争那争这了，不幸的人太多了</a></div>
                <div class="action_pane">
                    <a class="btn digg" comment_id="5346086436" bury_count="0" digg_count="339" href="javascript:;">339</a><a class="list_action btn"></a>
                </div>
            </div>
        </div>
        <!--<div class="comment-app-download">-->
            <!--<a class="vwo-comment-banner" data-type="app_open" ga_category="comment" ga_event="banner_click" ga_label="" href="http://d.toutiao.com/Y4tB/" target="_blank" rel="nofollow" data-position="comment">-->
                    <!--<span>打开今日头条, 查看全部389条评论-->
                    <!--</span>-->
            <!--</a>-->
        <!--</div>-->
    </div>
</div>
<!--写评论-->
<div id="pagelet-comment" data-pid="0" data-groupid="5335064262" data-itemid="0">
    <div class="top clearfix">
        <h2>评论</h2>
        <span class="cc">0 条评论</span>
    </div>
    <div class="middle clearfix">
        <div class="profile">
            <img src="http://mat1.gtimg.com/www/mb/images/head_50.jpg" data-node="profile">
        </div>
        <div class="input">
            <textarea placeholer="写下您的评论"></textarea>
            <div class="bottom">
                <span class="sns-label">分享到：</span>
                <div class="sns-group" data-node="snsGroup">
                    <a class="sns weibo" data-node="sina_weibo"></a>
                    <!--a class="sns qqzone" data-node="qzone_sns"></a>
                    <a class="sns renren" data-node="renren_sns"></a-->
                    <a class="sns ttweibo" data-node="qq_weibo"></a>
                </div>
                <a href="javascript:;" class="publish-btn" data-node="publish"> 发表 </a>
            </div>
        </div>
    </div>
    <div class="comments-list" data-node="commentList">
        <ul>
        </ul>
    </div>
</div>