<h1>Start</h1>
<p>My name: {{ myName }}</p>
<p>Friends:</p>
<ul>
    <li *ng-for="#name of names">
        {{ name }}
    </li>
</ul>
<p *ng-if="names.length > 4">You have many friends!</p>
<!--<div>keyname: <input #keyname (keyup)></div>-->
<div>keyname: <input #keyname></div>
<p>{{keyname.value}}</p>
<div>myControllerMethod: <input (keyup)="myCtrlMethod(keyname.value)"></div>
<button (click)="myCtrlMethod('just a try')">login</button>
<h1></h1>
<zippy zippy-title="Details">
    <p>This is some content.</p>
</zippy>
<nav>
    <ul>
        <li><a [router-link]="['/start']">Start</a></li>
        <li><a>About</a></li>
        <li><a>Contact</a></li>
    </ul>
</nav>